/*.title{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.sheet{
    display: flex;
    justify-content: center;
}

.center{
    width: 100%;
}

.table-scrollable{
    overflow-y:scroll;
    height:25em;
    display: block;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
}

.center-col{
    text-align: center;
}

.fab{
    border-radius: 100%;
    box-shadow: 5px 2px 10px #aaaaaa;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.ab{
    box-shadow: 5px 0px 10px #aaaaaa;
    width: 50px;
    height: 50px;
}

.selected-item-dropdown{
    width: 20em;
    display: inline;
    box-shadow: 5px 2px 10px #aaaaaa;
}

.totalBox{
    display: flex;
    float: right;
}

.totalText{
    text-align: center;
    margin: auto 10px;
}

.pageBody{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.gridTable{
    text-align: center;
    grid-column: 2/4;
    grid-row: 2/3;
}

.gridHeading{
    text-align: center;
    grid-column: 2/4;
    grid-row: 1;
}*/

.center-col{
    text-align: center;
    align-self: center;
}

html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: #111317;
  /*#26292e;*/
}

.fab{
    border-radius: 100%;
    box-shadow: 5px 2px 10px #aaaaaa;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.mainData{
    margin-top: 1em;
}

.logoutButton{
    background-color: inherit;
    color: white;
}

.multSelect{
    padding: 5px;
}

.selected-item-dropdown{
    width: 20em;
    display: inline;
}

.totalBox{
    display: flex;
    float: right;
    border-radius: 10px;
}

.total-text{
    text-align: center;
    padding: 20px;
    color: white;
}